@import url("./stylesheets/roboto.css");
@import url("./stylesheets/root.css");
@import url("./stylesheets/utility-classes.css");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
}

body{
    min-height: 100vh;
    background: var(--mine-shaft-950);
}

* {
    box-sizing: border-box;
}

.markets-header {
    background-color: var(--woodsmoke-950);
    padding: 1.25rem 1rem;
    gap: 0.5rem;
    border-bottom: 2px solid var(--cod-gray-600);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.markets-header-logo {
    height: 2.5rem;
    width: 5rem;
}

.markets-nav{
    background: var(--cod-gray-950);
    border-right: 2px solid var(--cod-gray-600);
    gap: 1rem;
}

.markets-menu{
    min-width: 16.25rem;
    background-color: var(--woodsmoke-950);
}

.markets-main{
    height: 100%;
}


.button-signup {
    background-color: var(--sun-400);
    color: var(--shark-950);
    border: 2px solid var(--sun-400);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    width: 6.75rem;
    cursor: pointer;
}

.button-signup:hover{
    background-color: var(--sun-500);
}

.button-login {
    background-color: var(--cod-gray-900);
    color: var(--white-50);
    border: 2px solid var(--white-50);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    width: 6.75rem;
    cursor: pointer;
}

.button-login:hover{
    background-color: var(--cod-gray-700);
}

.icon-container{
    padding: 0.625rem 1.25rem;
    gap: 0.5rem;
    position: relative;
    position: relative;
}

.icon-container .active-bar-lg{
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--sun-400);
    left: 0;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.icon-container .active-bar{
    position: absolute;
    background-color: var(--sun-400);
    bottom: 0;
    left:  0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.icon{
    height: 2.5rem;
    width: 2.5rem;
}

.card{
    background-image: url("./assets/images/card-1-bg.png");
    background-size: cover;
    border-radius: 0.5rem;
}