.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-xs {
    font-size: 0.625rem;
    /* 10px */
    line-height: 0.875rem;
    /* 14px */
}

.text-xs {
    font-size: 0.625rem;
    /* 10px */
    line-height: 0.875rem;
    /* 14px */
}

.text-xs1 {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-xs2 {
    font-size: 0.81rem;
    /* 13px */
    line-height: 1.125rem;
    /* 18px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
}

.text-md {
    font-size: 0.93rem;
    /* 15px */
    line-height: 1.375rem;
    /* 22px */
}

.text-base {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.text-lg {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
}

.text-xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.text-2xl {
    font-size: 2rem;
    /* 32px */
    line-height: 2.5rem;
    /* 40px */
}

.text-3xl {
    font-size: 2.5rem;
    /* 40px */
    line-height: 3rem;
    /* 48px */
}

.text-4xl {
    font-size: 3rem;
    /* 48px */
    line-height: 3.5rem;
    /* 56px */
}

.font-thin {
    font-weight: 100;
    /* Thin font weight */
}

.font-extralight {
    font-weight: 200;
    /* Extra Light font weight */
}

.font-light {
    font-weight: 300;
    /* Light font weight */
}

.font-normal {
    font-weight: 400;
    /* Normal font weight */
}

.font-medium {
    font-weight: 500;
    /* Medium font weight */
}

.font-semibold {
    font-weight: 600;
    /* Semi-Bold font weight */
}

.font-bold {
    font-weight: 700;
    /* Bold font weight */
}

.font-extrabold {
    font-weight: 800;
    /* Extra Bold font weight */
}

.font-black {
    font-weight: 900;
    /* Black font weight */
}
.text-center {
    text-align: center;
}
.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}